.game-window {
  width: 784px;
  height: 479px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  margin-bottom: 32px;
}
.game-window .start-game {
  background-image: url('../style/img/start-game-background.png');
  background-repeat: no-repeat;
  width: 772px;
  height: 467px;
  margin: 6px;
}
@media only screen and (max-width: 1230px) {
  .game-window {
    width: 614px;
  }
  .game-window .start-game {
    background-size: 600px 467px;
  }
}
